/*base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/*utilities*/
.container{
    max-width: 125rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.hue-shift{
    animation: move-shift 5s infinite alternate;
}

/*header*/
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.nav{
    height: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-item{
    margin-right: 5rem;
}

.nav-tem:last-child{
    margin-right: 0;
}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    transition: opacity .3s;
}

.nav-link:hover{
    opacity: .6;
}

.logo{
    display: block;
    width: 8rem;
}


/*main content*/
.landing-page{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(18, 100, 100), #2675aa);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 1;
}

.landing-page::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100vh;
    background-image: url('/images/img.jfif');
    background-size: cover;
    opacity: .4;
    z-index: -1;
    filter: blur(4px);
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.content-details{
    max-width: 100%;
}

.title, a{
    font-size: 6rem;
    color: #fff;
    margin-bottom: 1rem;
}


.description{
    color: #929FC5;
    margin-bottom: 2.5rem;
}

.search{
    margin-bottom: 2.5rem;
}
.search input{
    border: none;
    border-radius: 5rem;
    padding: 2rem;
    outline: none;
}

.search-bar{
    width: calc(100% - 15rem);
}

.search-btn{
    width: 20rem;
    background-image: linear-gradient(to right, #30fad8, #a8f8b5);
    cursor: pointer;
    margin-left: 20rem;
    padding: 15rem;
}


.search-btn:hover{
    background-image: linear-gradient(to left, #30fad8, #a8f8b5);
}

.sm-list{
    display: flex;
}

.sm-link{
    color: #929FC5;
    width: 3rem;
    height: 3rem;
    border: 1px solid #929FC5;
    border-radius: 50%;
    display: flex;
    margin-right: 0.5cm;
}

.sm-link i{
     margin: auto;
}

.sm-link:hover{
    /* background-image: linear-gradient(to right, #A971FF, #00F0FF); */
    color: #fff;
}

.image-group{
    text-align: center;
    position: relative;
}

.blob-large{
    animation: move-up 2s infinite alternate;
}

.blob-bean{
    position: absolute;
    top: 8rem;
    left: 1rem;
    z-index: 10;
    animation: move-down 2s infinite alternate;
}

.blob{
    position: absolute;
    z-index: -1;
}

.blob-1{
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

.blob-2{
    top: 15rem;
    left: -17rem;
}

.blob-3{
    right: 5rem;
    bottom: -24rem;
}

.blob-4{
    left: -21rem;
    bottom: -17rem;
}

/*animation*/
@keyframes move-up{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(2rem);
    }
}

@keyframes move-down{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-2rem);
    }
}

@keyframes hue-shift{
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

@media screen and(max-width: 768px) {
    .nav{
        align-items: center;
    }

    .content{
        grid-template-columns: 1fr;
    }

    .content-details{
        order: 1;
        max-width: 100%;
    }

    .title{
        font-size: 3.5rem;
    }

    .description{
        font-size: 1.4rem;
    }

    .image-group{
        margin-top: 10rem;
    }

    .blob-large{
        width: 70%;
    }

    .blob-bean{
        width: 30%;
        top: -1rem;
        left: 6rem;
    }

    .blob-1{
        display: none;
    }

    .blob-2{
        left: 30rem;
        bottom: -1rem;
        top: revert;
        width: 25%;
    }

    .blob-3{
        right: -3rem;
        bottom: -25rem;
    }

    .blob-4{
        display: none;
    }
}

@media screen and(max-width: 768px) {
    .nav{
        flex-direction: column;
        height: 5rem;
    }

    .logo-box{
        margin: 2rem 0;
    }

    .nav-item{
        margin-right: 2.5rem;
    }

    .blob-2{
        display: none;
    }

    .blob-3{
        width: 50%;
        bottom: -10rem;
    }
}

.growth{
    width: 20%;
    height: 20%;
}

.login-box {  
    position: absolute;  
    top: 50%;  
    left: 80%;  
    width: 400px;  
    padding: 40px;  
    transform: translate(-50%, -50%);  
    background: rgba(0,0,0,.5);  
    box-sizing: border-box;  
    box-shadow: 0 15px 25px rgba(0,0,0,.6);  
    border-radius: 10px;  
   }  
   .login-box h2 {  
    margin: 0 0 30px;  
    padding: 0;  
    color: #fff;  
    text-align: center;  
   } 
   
   .login-box .user-box {  
    position: relative;  
   }  
   .login-box .user-box input {  
    width: 100%;  
    padding: 10px 0;  
    font-size: 16px;  
    color: #fff;  
    margin-bottom: 30px;  
    border: none;  
    border-bottom: 1px solid #fff;  
    outline: none;  
    background: transparent;  
   }  
   .login-box .user-box label {  
    position: absolute;  
    top:0;  
    left: 0;  
    padding: 10px 0;  
    font-size: 16px;  
    color: #fff;  
    pointer-events: none;  
    transition: .5s;  
   }  

   .login-box .user-box input:focus ~ label,  
   .login-box .user-box input:valid ~ label {  
    top: -20px;  
    left: 0;  
    color: #03e9f4;  
    font-size: 12px;  
   }  
   .login-box form a {  
    position: relative;  
    display: inline-block;  
    padding: 10px 20px;  
    color: #03e9f4;  
    font-size: 16px;  
    text-decoration: none;  
    text-transform: uppercase;  
    overflow: hidden;  
    transition: .5s;  
    margin-top: 40px;  
    letter-spacing: 4px  
   }  
   .login-box a:hover {  
    background: #03e9f4;  
    color: #fff;  
    border-radius: 5px;  
    box-shadow: 0 0 5px #03e9f4,  
    0 0 25px #03e9f4,  
    0 0 50px #03e9f4,  
    0 0 100px #03e9f4;  
}  
.login-box a span {  
position: absolute;  
display: block;  
}  
.login-box a span:nth-child(1) {  
top: 0;  
left: -100%;  
width: 100%;  
height: 2px;  
background: linear-gradient(90deg, transparent, #03e9f4);  
animation: btn-anim1 1s linear infinite;  
}  
@keyframes btn-anim1 {  
0% {  
left: -100%;  
}  
50%,100% {  
left: 100%;  
}  
}  
.login-box a span:nth-child(2) {  
 top: -100%;  
 right: 0;  
 width: 2px;  
 height: 100%;  
 background: linear-gradient(180deg, transparent, #03e9f4);  
 animation: btn-anim2 1s linear infinite;  
 animation-delay: .25s  
}  
@keyframes btn-anim2 {  
 0% {  
  top: -100%;  
 }  
 50%,100% {  
  top: 100%;  
 }  
}  
.login-box a span:nth-child(3) {  
 bottom: 0;  
 right: -100%;  
 width: 100%;  
 height: 2px;  
 background: linear-gradient(270deg, transparent, #03e9f4);  
 animation: btn-anim3 1s linear infinite;  
 animation-delay: .5s  
}  
@keyframes btn-anim3 {  
 0% {  
  right: -100%;  
 }  
 50%,100% {  
  right: 100%;  
 }  
}  
.login-box a span:nth-child(4) {  
 bottom: -100%;  
 left: 0;  
 width: 2px;  
 height: 100%;  
 background: linear-gradient(360deg, transparent, #03e9f4);  
 animation: btn-anim4 1s linear infinite;  
 animation-delay: .75s  
}  
@keyframes btn-anim4 {  
 0% {  
  bottom: -100%;  
 }  
 50%,100% {  
  bottom: 100%;  
 }  
}  


