html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #4c94e6 50%, #c5dcf7 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }

  h1 {
    color: #fff;
    padding: 10px;
  }
  .container{
    max-width: 125rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.nav{
  height: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.nav-list{
  display: flex;
  list-style: none;
}

.nav-item{
  margin-right: 5rem;
}

.nav-tem:last-child{
  margin-right: 0;
}

.nav-link{
  font-size: 1.3rem;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  transition: opacity .3s;
}

.nav-link:hover{
  opacity: .6;
}

  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  #heading {
    background-color: #4c94e6;
    text-align: center;
  }

  .list, a{
    color: black;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
  }

  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }

  .item:last-child {
    border-bottom: 0;
  }

  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #4c94e6;
  }

  input[type="checkbox"] {
    margin: 20px;
  }

  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }

  form.item {
    text-align: center;
    margin-left: 20px;
  }

  .item-btn {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #4c94e6;
    color: #fff;
    font-size: 30px;
    padding-bottom: 1px;
    border-width: 0;
  }

  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }

  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #4c94e6;
  }

  ::placeholder {
    color: grey;
    opacity: 1;
  }

  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
